<form method="get" action="/quizes/<%= quiz.id %>/answer">	
	<p>Categoría: <%= tema %></p>
	<label for="respuesta">Pregunta: <%= quiz.pregunta %></label>
	<input type="text" id="respuesta" name="respuesta" placeholder="Responda aquí" />
	<input type="submit" value="Envíar" />
</form>

<p>
	<a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo Comentario</button></a>
</p>

<p><strong>Comentarios:</strong></p>
<% for (index in quiz.Comments) { %>
	<%if(quiz.Comments[index].publicado || session.user){%>
		<p>- <%= quiz.Comments[index].texto %>
			<%if(session.user && !quiz.Comments[index].publicado){%>
				<form method="post" action="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>/publish?_method=put">
						<input type="submit" value="Publicar" />
				</form>
			<% } %>
		</p>
	<% } %>
<% } %>